 <!DOCTYPE html>
 <html lang="en" xmlns:th="http://www.thymeleaf.org"
 	th:replace="base::layout(~{::section})">
	<section>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
	<link rel="stylesheet" type="text/css" href="/css/forgotpass.css">
</head>
<body class="background-profile-update">
    <form action="/password/forgot" method="post">
		<h1>Forgot Password</h1>
        <label for="email"> Enter Email:</label>
        <input type="email" id="email" name="email" required>
        <button type="submit" class="button1">Send Password Reset Link</button>
		<p th:if="${param.success}" style="color:green;">Password reset link has been sent to your email.</p>
    </form>
</body>
</section>
</html>
